* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 15%;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: small;
}

li.nav-bar {
    display: inline;
}

li.nav-bar a {
    text-decoration: none;
    padding: 5px
}

p.logo-text {
    margin: 0px;
    padding: 0px;
    font-size: small;
    text-align: left;
    text-transform: uppercase;
}

li.active {
    display: inline;
    font-weight: bold;
    padding: 5px

}

h1 {
    padding-top: 140px;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 80px;
}

img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 3%;
}

table {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 3px solid;
    border-collapse: collapse;
    border-color: white;
    padding: 10px;
    text-align: left;
    background-color: rgba(155, 156, 156, 0.288);
    color: rgb(95, 95, 95);
}

td {
    border: 3px solid;
    border-collapse: collapse;
    border-color: white;
    padding: 10px;
    text-align: left;
    background-color:rgba(194, 200, 206, 0.226);
    color: rgba(95, 95, 95, 0.63);
}

.flex-container {
    /* setting up level 1 flex container */
    display: flex;
    /* the below sets the 2 blocks apart fromm each other with a space between */
    justify-content:space-between;
}

/* setting up 1/2 level 2 flex container into a column */
.column-1 {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; does nothing*/
} 

/* setting up 1/2 level 2 flex container into a column */
.column-2 {
    display: flex;
    flex-direction: column;
    /* align-content: space-between; does nothing */
}

/* makes the text in the labels smaller (checkboxes, radio etc) */
label {
    font-size: smaller;
    /* the below moves the one last line in checkbox question about type of news to the left*/
    text-align: left; 
}

/* makes the text in the paragraph labels smaller and aligns it to the left (what news, what type of climbing etc) */
p.label {
    font-size: smaller;
    text-align: left;
}

/* aligns 2 text inputs to the left */
div.text-input {
    display: flex;
    justify-content: flex-start;
}

/* lever 4, aligns the tick-boxes in columns */
div.tick-box {
    display: flex;
    flex-direction:row;
}

/* formats the drop down choice quistion */
div.drop-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

div.submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}